
/*--------------------------------------------Heading*/
.header-title {
    text-align: center;
    font-size: 50px;
    background-color: #c7ad1c;
    color: black;
    padding: 20px;
}


/*--------------------------------------------Section*/
.hero-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
    padding: 30px;
}

p {
    width: 80%;
    margin-left: 10%;
}

.members {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.members-description {
    margin-bottom: 20px;
}

.member-image {
    max-width: 100%;
    height: auto;
}

/* ----------------------------------------Footer */
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
.footer {
    text-align: center;
    background-color: #c7ad1c;
    color: black;
    padding: 10px;
}